body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.todo-app {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  border: none;
  border-radius: 0%;
  background: none;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 2px solid rgb(236, 236, 236);
  color: #555;
  outline: none;
}

.tabs button.active-tab {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.add-task {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.add-task button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.add-task button:hover {
  background: #0056b3;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task-list li input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.task-list li span {
  flex: 1;
  font-size: 16px;
}

.delete-all {
  margin-top: 20px;
  margin-left: 293px;
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.delete-all:hover {
  background: darkred;
}

.delete-task {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.delete-task:hover {
  color: darkred;
}